@font-face {
    font-family: 'Manrope';
    font-display: swap;
    src:url('../fonts/manrope/Manrope.ttf') format('truetype'),
        url('../fonts/manrope/Manrope.woff') format('woff'),
        url('../fonts/manrope/Manrope.woff2') format('woff2');  
}
@font-face {
    font-family: 'Orchidea';
    font-display: swap;
    src:url('../fonts/orchidea/Orchidea.ttf') format('truetype'),
        url('../fonts/orchidea/Orchidea.woff') format('woff'),
        url('../fonts/orchidea/Orchidea.woff2') format('woff2');  
}
@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src:url('../fonts/roboto/Roboto.ttf') format('truetype'),
        url('../fonts/roboto/Roboto.woff') format('woff'),
        url('../fonts/roboto/Roboto.woff2') format('woff2');  
}
